/* login.css */

body {
    font-family: Arial, sans-serif;
    background-color: #92613A;
    margin: 0;
    padding: 0;
    padding-top: 150px;
    display: flex;
    flex-direction: column; /* Set the main axis to be vertical */
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff; /* Set text color to white */
}

.logo-container {
    margin-bottom: 30px; /* Adjust the margin to move the logo down */
}

.logo-container img {
    width: 150px; /* Set the width of your logo as needed */
    height: auto;
}

h1 {
    text-align: center;
    color: #fff; /* Set h1 color to white */
}

.main-container {
    display: flex;
    justify-content: center;
}

.registration-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px; /* Adjusted padding for a larger container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjusted max-width */
    width: 100%;
    margin-bottom: 20px;
    color: #000; /* Set form text color to black */
}

label {
    display: block;
    margin-bottom: 12px;
    color: #000;
    font-size: 16px; /* Adjusted font size */
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 14px; /* Adjusted font size */
}

button {
    background-color: black;
    color: #fff;
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px; /* Adjusted font size */
}

button:hover {
    background-color: #000;
}

.remember-password {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.remember-password input {
    margin-right: 8px;
}

.signup-container {
    text-align: center; /* Center the text */
    color: #fff;
    margin-top: 10px;
    font-style: italic;
    font-size: 14px; /* Adjusted font size */
}

.signup-link {
    color: #fff; /* Set the color of the signup link to white */
    font-style: italic;
    font-size: 14px; /* Adjusted font size */
}

.forgot-password {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-style: italic;
    font-size: 14px; /* Adjusted font size */
}
