<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="adminhome.css">
</head>
<body>
    <div class="container1">
        <div class="navbar">
            <img src="./media/logo.png" alt="">
            <nav>
                <ul>
                    <li><a href="/adminDash/mentor/index">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <img src="./media/Black White Minimalist Elegant Calligraphy Business Newsletter Email Header.svg" alt="Canva SVG" class="imgbgd">

    <main>
        <section id="mentors" class="category-container brown-background">
            <div class="opportunity-container" id="mentors-list">
                <button class="action-button" onclick="location.href='/mentors'">View Mentors</button>
            </div>
        </section>

        <section id="events" class="category-container brown-background">
            <div class="opportunity-container" id="events-opportunities">
                <button class="action-button" onclick="location.href='/events'">View Events</button>
            </div>
        </section>

        <section id="mentees" class="category-container brown-background">
            <div class="opportunity-container" id="mentees-opportunities">
                <button class="action-button" onclick="location.href='/mentees'">View Mentees</button>
            </div>
        </section>
       
    </main>
</body>
</html>
