<!DOCTYPE html>
<html>
<head>
    <title>Mentee Details</title>
    <link rel="stylesheet" type="text/css" href="/menteedetails.css">
</head>
<body>
    <h1>Mentee Details</h1>
    <h2><%= mentee.name %></h2>
    <p>Expertise: <%= mentee.expertise %></p>
    <p>Description: <%= mentee.description %></p>
    <a href="/">Back to List</a>
</body>
</html>