<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="resumeCenter.css">
</head>
<body>
    <div class="container1">
        <div class="navbar">
            <img src="./media/logo.png" alt="">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">Services</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <img src="./media/resume-mentee.svg" alt="Canva SVG" class="imgbgd">

    <div class="container2">
        <a href="/add-resume" class="responsive-button">Add Resume</a>
        <a href="#" class="responsive-button">View Feedback</a>
    </div>
</body>
</html>
