<!-- mentorDetails.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Mentor Details</title>
    <link rel="stylesheet" type="text/css" href="/mentordetails.css">
</head>
<body>
    <h1>Mentor Details</h1>
    <h2><%= mentor.name %></h2>
    <p>Expertise: <%= mentor.expertise %></p>
    <p>Description: <%= mentor.description %></p>
    <a href="/adminDash/mentor/homeMentor">Back to List</a>
</body>
</html>
